[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "pusblic"]
	path = pusblic
	url = git@github.com:hectormethod/hectormethod.github.io.git
	branch = master
